@import url(https://fonts.googleapis.com/css?family=Roboto);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);body {
  min-height: 75rem;
  /* Can be removed; just added for demo purposes */
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif !important;
  color: #626d71 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Roboto", sans-serif !important;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron .jumbotron-heading {
  font-weight: 300;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.card {
  background-color: #f1f3ce;
  float: left;
  width: 100%;
  min-width: 1rem;
  padding: .75rem;
  padding-bottom: 40px;
  margin-bottom: 2rem;
}

.card img {
  width: 100%;
  margin-bottom: .75rem;
  background-color: #f1f3ce;
}

.btn {
  border-radius: 0 !important;
  background-color: #f62a0d !important;
  border-color: #f62a0d !important;
  color: #f1f3ce !important;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent !important;
  border-color: #f62a0d !important;
  color: #f62a0d !important;
}

nav {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
  font-size: 1.5em;
  background-color: #f1f3ce;
}

nav a {
  color: #626d71 !important;
}

nav a:hover {
  color: #f62a0d !important;
}

nav .navbar-brand img {
  width: 80px;
  height: 80px;
}

nav .dropdown-toggle {
  white-space: nowrap !important;
}

nav input {
  font-family: Arial, 'FontAwesome';
  border-radius: 40px !important;
}

@media (min-width: 992px) {
  nav div.mobile {
    display: none;
  }
}

@media (max-width: 991px) {
  nav {
    font-size: 1em;
  }

  nav div.container {
    display: none !important;
  }

  nav .dropdown-toggle {
    background-color: #f1f3ce !important;
  }

  nav .fa {
    font-size: 2em;
  }

  nav button {
    border-color: transparent !important;
    background-color: transparent !important;
    color: #626d71 !important;
    font-size: 1.0em !important;
    margin-top: 30px;
  }

  nav button:focus {
    display: none !important;
  }

  nav button:hover {
    border-color: transparent !important;
    color: #f62a0d !important;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #f1f3ce;
  background-color: #f62a0d;
}

footer .col-md-4 {
  margin-bottom: 3rem;
  margin-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

footer a {
  color: #cdcdc0;
}

footer a:hover {
  text-decoration: none;
  color: #626d71;
}

footer img {
  width: 55px;
  height: 55px;
}

section.about {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section.about img {
  width: 650px;
  height: 650px;
}

section.hottest {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section.hottest img {
  padding: 20px;
  border: 0;
  width: 350px;
  height: 350px;
}

section.promotion {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: auto;
}

section.promotion img {
  width: 94px;
  height: 94px;
}

section.login {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section.login h2 {
  font-weight: 800;
}

section.login input {
  border-radius: 0 !important;
}

section.login button {
  padding: 20px !important;
}

section.list {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section.list img {
  padding: 20px;
  border: 0;
}

section.item {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section.item h2,
section.item h3,
section.item p {
  padding-bottom: 20px;
}

section.item label {
  padding: 8px 12px 8px 0px;
}

section.item input {
  width: 60px !important;
  border-radius: 0;
}

section.item button {
  padding-right: 60px;
  padding-left: 60px;
}

section.related {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section.related img {
  padding: 20px;
  border: 0;
}

section.checkout {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section.checkout .media button {
  background-color: transparent !important;
  color: #626d71 !important;
}

section.checkout .media button:hover {
  color: #f62a0d !important;
}

section.checkout .media button:focus {
  border-color: transparent !important;
}

section.partner {
  margin-bottom: 8rem;
  margin-top: 8rem;
}

section.partner .row {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

