section.checkout {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .media{
        button{
            background-color: transparent !important;
            color: $color-text !important;
            &:hover{
                color: $color-candyapple !important;
            }
            &:focus{
                border-color: transparent !important;
            }
        }
    }

}
