body {
    min-height: 75rem;
    /* Can be removed; just added for demo purposes */
    width: 100%;
    height: 100%;
    font-family: $font-text !important;
    color: $color-text !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: $font-text !important;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
    .container {
        max-width: 40rem;
    }
    .jumbotron-heading {
        font-weight: 300;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.card {
    background-color: $color-ivory;
    float: left;
    width: 100%;
    min-width: 1rem;
    padding: .75rem;
    padding-bottom: 40px;
    margin-bottom: 2rem;
    img {
        width: 100%;
        margin-bottom: .75rem;
        background-color: $color-ivory;
    }

}
.btn{
    border-radius: 0 !important;
    background-color: $color-candyapple !important;
    border-color: $color-candyapple !important;
    color: $color-ivory !important;
    cursor: pointer;
    &:hover{
        background-color: transparent !important;
        border-color: $color-candyapple !important;
        color: $color-candyapple !important;

    }
}

