footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: $color-ivory;
    background-color: $color-candyapple;
    .col-md-4{
        margin-bottom: 3rem;
        margin-bottom: 3rem;
    }
    p {
        margin-bottom: .25rem;
    }
    a{
        color: $color-ceramic;
        &:hover{
            text-decoration: none;
            color: $color-text;
        }

    }
    img{
        width: 55px;
        height:55px;
    }
}
