nav {
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    font-size: 1.5em;
    background-color: $color-ivory;
    a {
        color: $color-text !important;
        &:hover {
            color: $color-candyapple !important;
        }
    }
    .navbar-brand {
        img {
            width: 80px;
            height: 80px;
        }
    }
    .dropdown-toggle {
        white-space: nowrap !important;
    }
    input {
        font-family: Arial, 'FontAwesome';
        -webkit-border-radius: 40px !important;
        -moz-border-radius: 40px !important;
        border-radius: 40px !important;
    }
    @media (min-width: 992px) {
        div.mobile {
            display: none;
        }
    }
    @media (max-width: 991px) {
        font-size: 1em;
        div.container {
            display: none !important;
        }
        .dropdown-toggle {
        background-color: $color-ivory !important;

    }
    .fa{
        font-size: 2em;
    }
        button {
        border-color: transparent !important;
        background-color: transparent !important;
        color: $color-text !important;
        font-size: 1.0em !important;
        margin-top: 30px;
        &:focus {
            display: none !important;
        }
        &:hover {
            border-color: transparent !important;
            color: $color-candyapple !important;
        }
    }
    }
}
