section.about{
    margin-top: 4rem;
    margin-bottom: 4rem;
    img{
        width: 650px;
        height: 650px;

    }
}

section.hottest{
    margin-top: 4rem;
    margin-bottom: 4rem;
    img{
        padding: 20px;
        border: 0;
        width: 350px;
        height: 350px;

    }

}
section.promotion{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: auto;
    img{
        width: 94px;
        height: 94px;
    }

}
