section.item {
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2, h3, p {
        padding-bottom: 20px;
    }
    label {
        padding: 8px 12px 8px 0px;
    }
    input {
        width: 60px !important;
        border-radius: 0;
    }
    button {
        padding-right: 60px;
        padding-left: 60px;
    }
}

section.related {
    margin-top: 4rem;
    margin-bottom: 4rem;
    img {
        padding: 20px;
        border: 0;
    }

}

