section.login{
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2{
        font-weight: 800;
    }
    input{
        border-radius: 0 !important;
    }
    button{
        padding: 20px !important;
    }
}
